<div class="search-form">
  <mat-form-field class="search-full-width">
    <mat-label>Пошук</mat-label>
    <div class="search-container">
      <input matInput placeholder="Пошук" #searchInput (keyup)="search(searchInput.value)" autocomplete="off">
      <button (click)="search(searchInput.value)" class="search-btn">
        <mat-icon>search</mat-icon>
      </button>
      <ul class="search-result" [hidden]="isHide">
        <li class="search-result__item" *ngFor="let case of cases$ | async">
          <a class="search-result__link" [routerLink]="['/cases', case.id]" class="show-case">{{case.details}}</a>
        </li>
      </ul>
    </div>
  </mat-form-field>
</div>
