.search-form {
  min-width: 150px;
  max-width: 388px;
  width: 100%;
  color: #424242;
}

.search-full-width {
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-btn {
  display: block;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: transparent;
}

::ng-deep .mat-form-field {
  .mat-input-element {
      color: slategray;
  }
  .mat-form-field-label {
      color: slategray;
  }
  .mat-form-field-underline {
      background-color: slategray;
  }
  .mat-form-field-ripple {
      background-color: slategray;
  }
  .mat-form-field-required-marker {
      color: slategray;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
      color: #25732E;
  }
  .mat-form-field-ripple {
      background-color: #25732E;
  }
  .mat-form-field-required-marker {
      color: #25732E;
  }
  .mat-input-element {
      color: #25732E;
  }
}

.search-result {
  position: absolute;
  top: 45px;
  background: #FFF;
  z-index: 1;
  width: 95%;
  padding: 20px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &__item {
    border-bottom: 1px solid #424242;
    padding: 0 10px 5px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

  }

  .show-case {
    display: block;
    text-decoration: none;
    color: #424242;
    font-size: 14px;
    transition: color .3s;

    &:hover {
      color: #25732E;
    }

  }

}

