.main-footer {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.footer-copyright {

  &__link {
    color: #424242;
    text-decoration: none;
  }

}

@media screen and(max-width: 1000px) {

  .footer-copyright {
    font-size: 12px;
  }

}

@media screen and(max-width: 767px) {

  .footer-copyright {
    display: none;
  }

}
