<h1 class="main-title">Список звернень</h1>
<div *ngIf="!loading">
  <ul class="cases-list">
    <li class="cases-list__item" *ngFor="let case of cases">
      <a [routerLink]="['/cases', case.id]" class="cases-list__item-thumb">
        <img src="{{case.photo}}">
      </a>
      <div class="cases-list__item-desc">
        <p class="cases-title">{{strSeparator(case.description, 60)}}</p>
        <address class="cases-address">вул. Грушевського 10</address>
      </div>
      <div class="cases-bottom">
        <a [routerLink]="['/cases', case.id]" class="show-case" mat-raised-button>Детальніше</a>
        <span class="date-publice">05.04.20</span>
      </div>
    </li>
  </ul>
</div>
<p *ngIf="loading">Завантаження...</p>
