<h1 class="main-title">Список звернень</h1>
<span class="total">Кількість звернень: <span class="total__number">{{totalCases}}</span></span>
<app-search></app-search>
<div *ngIf="!loading">
  <ul class="cases-list">
    <li class="cases-list__item" *ngFor="let case of cases">
      <a [routerLink]="['/cases', case.id]" class="cases-list__item-thumb">
        <img src="{{case.image_url}}">
      </a>
      <div class="cases-list__item-desc">
        <p class="cases-title">{{strSeparator(case.details, 60)}}</p>
        <address class="cases-address">{{case.location.address}}</address>
      </div>
      <div class="cases-bottom">
        <a [routerLink]="['/cases', case.id]" class="show-case" mat-raised-button>Детальніше</a>
        <span class="date-publice">{{case.created_at | date:'d.MM.y, H:mm'}}</span>
      </div>
    </li>
    <button class="load-more-btn" *ngIf="isLoadMore" (click)=onClick() mat-raised-button>Завантажити ще</button>
  </ul>
</div>
<p *ngIf="loading">Завантаження...</p>
