.admin-comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.delte-comment-btn {
  cursor: pointer;
  background: none;
  outline: none;
}

.admin-comment {
  max-width: 900px;
  padding: .5rem 1rem;
  border-left: 3px solid #25732E;

  &__position {
    font-weight: 500;
    font-style: italic;
    margin-right: 10px;
  }

}

.error-mssg {
  display: block;
  margin: 0 0 20px 0;
  color: #f44336;
}

::ng-deep .mat-form-field {
  width: 100%;
  .mat-input-element {
      color: slategray;
  }
  .mat-form-field-label {
      color: slategray;
  }
  .mat-form-field-underline {
      background-color: slategray;
  }
  .mat-form-field-ripple {
      background-color: slategray;
  }
  .mat-form-field-required-marker {
      color: slategray;
  }
  .mat-form-field-flex {
    background-color: rgba(0,0,0,.04);
  }
  .mat-form-field-infix {
    width: 100%;
    input { width: 100%; }
  }
}

@media screen and(max-width: 767px) {

  .admin-comment-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .admin-comment {
    margin-bottom: 20px;
  }

}
