.main-header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
}

.main-logo {
  display: block;
  max-width: 150px;

  &__image {
    display: block;
    width: 100%;
  }

}

.user-link {
  display: block;
  text-decoration: none;
  color: #25732E;
}
