.main-nav {
  margin-bottom: 30px;

  &__link {

    display: flex;
    align-items: center;
    text-decoration: none;
    color: #424242;
    transition: color .3s;

    .mat-icon {
      margin-right: 5px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

  }

  .router-link-active {
    color: #25732E;
    font-weight: 500;
  }

}

@media screen and(max-width: 767px) {

  .main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 0;

    &__link {

      &:not(:last-child) {
        margin-bottom: 0;
      }

    }

  }

}
