<h3 class="nav-title">Звернення:</h3>
<nav class="main-nav">
  <a [routerLink]="['/cases/all']" routerLinkActive="router-link-active" class="main-nav__link">
    <mat-icon>inbox</mat-icon>
    Всі
  </a>
  <a [routerLink]="['/cases/new']" routerLinkActive="router-link-active" class="main-nav__link">
    <mat-icon>how_to_vote</mat-icon>
    Нові
  </a>
  <a [routerLink]="['/cases/finished']" routerLinkActive="router-link-active" class="main-nav__link">
    <mat-icon>assignment_turned_in</mat-icon>
    Завершені
  </a>
  <a [routerLink]="['map']" routerLinkActive="router-link-active" class="main-nav__link">
    <mat-icon> place</mat-icon>
    Мапа заявок
  </a>
</nav>
