<nav class="main-nav">
  <h3 class="nav-title">Основні</h3>
  <a [routerLink]="['/']" routerLinkActive="router-link-active" class="main-nav__link">
    <mat-icon>home</mat-icon>Головна
  </a>
  <!-- <a href="#" class="main-nav__link">
    <mat-icon>supervisor_account</mat-icon>
    Користувачі
  </a> -->
  <h3 class="nav-title">Звернення</h3>
  <a [routerLink]="['/']" routerLinkActive="router-link-active" class="main-nav__link">
    <mat-icon>inbox</mat-icon>
    Нові
  </a>
  <a href="#" class="main-nav__link">
    <mat-icon>archive</mat-icon>
    Завершені
  </a>
</nav>
