.cases-list {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 80px;

  &__item {
    list-style: none;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    background: #FFF;
    padding: 10px;
    display: flex;
    flex-direction: column;

    &-desc {
      padding: 20px 0;
    }

    &-thumb {
      display: block;
      height: 250px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

    }

  }

}

.cases-title {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 12px;
  text-decoration: none;
  color: inherit;
}

.cases-bottom-descr {
  display: flex;
}

.cases-address,
.date-publice {
  font-size: 12px;
  font-weight: 400;
  color: #636363;
  line-height: 1;
  display: inline-block;
  margin-right: 18px;
}

.cases-address {
  position: relative;
  padding-left: 15px;

  &::before {
    content: '';
    width: 10px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/assets/icons/location.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

}

.cases-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.load-more-btn {
  grid-column: 2 / span 1;
}

.total__number {
  font-weight: 500;
}

.case-status {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 5px;
}

.new.case-status {
  background: #E53935;
}

.done.case-status {
  background: #25732E;
}

@media screen and(max-width: 1000px) {

  .cases-list {
    grid-template-columns: 1fr 1fr;
  }

  .load-more-btn {
    grid-column: 1/span 2;
  }

}

@media screen and(max-width: 767px) {

  .cases-list {
    display: flex;
    flex-direction: column;
  }

}
